{% extends 'layout.html' %}

{% block content %}

<h1>Some personal projects</h1>

{% for post in articulos %}

    <h2>{{post.tittle}}</h2> 
    <p>{{post.description|truncatechars:25}}</p> <!--- de esta maenra limito la cantidad de caracteres en cada publicacion-->
    <p>{{post.date|date:'M d Y'|upper}}</p>
    <div>
        <img  class="rounded-5 col-md-4 p-6" src="{{post.image.url}}" alt="{{post.title}}" class="col-md-4 p-4">
    </div>
    

    <a href="{{post.urls}}">Take a look at the code</a>

{% endfor %}

{% endblock %}