
{% extends 'layout.html' %}


{% block content %}   

{% load static %}
<div id="header">
  <header class="row" >
      <div class="col-md-2">
          <img id="profile" src="{% static '/portfolio/profile.jpeg' %}"  class="img-fluid img-thumbnail"  alt="" >
      </div>
      <div class="col-md-8 my-auto">
          <h1>I am <strong>Cristhian J.</strong></h1>
          <h3>I'm a junior Python Developer</h3>
          <p>I'm a junior Python developer with skills in Django, HTML, CSS, Bootstrap, JavaScript, SQL, and MySQL. I'm excited to secure my first job in the software industry, eager to contribute and learn from experienced teams.</p>
           <a href="{% static 'portfolio/Cv.pdf' class="btn btn-lg rounded-0 my-3" %}" target="_blank" class="text-light">Download CV</a>
      </div>
    </header>
</div>


<br>

<!-- Porfolio Section -->
<div class="row my-4 text-center">

  <h3>Some Skills</h3>
  <p>Also, I have experience in SQL, MySQL and JavaScript.</p>

  {% for project in lista_projects %}
  <div class="col-md-4 p-4">
    <div class="card bg-transparent card-project border-0">
      <img id="imgh" src="{{project.image.url }}" class="card-img-top"/>

      <div class="card-body">

        <h2 class="text-light">{{ project.title }}</h2>
        <p>{{ project.description }}</p>

        {% if project.url %}
        <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">Visit the
          Project</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
  


<!--
<div class="col md-4">
    <div class="card bg-black">
        <div class="card-body">
            <h2 class="">{{project.title}}</h2>
    <p>{{project.description}}</p>
    
        <img src="{{project.image.url}}" class="img-fluid" alt="{{project.title}}" >

        {% if project.url %}
    <a href="{{project.url}}" class="text-white">{{project.url}}</a>    
    {% endif %}
       </div>
    </div>
</div>




<div class="container" >
        
        <div id="images_skills" class="row d-flex justify-content-center align-items-center gap-auto">
           
          <div id="html5" class="col-md-4">
            <img  src="media/iportfolio/images/html.png" class="img-fluid">

          </div>
          <div id="css3" class="col-md-4">
            <img  src="media/iportfolio/images/css.png" class="img-fluid">
          </div>

          <div class="col-md-4">

            <img  id="pytn" src="media/iportfolio/images/django.png" class="img-fluid">
          </div>
        </div>
      </div>


        <div class="col-md-4 p-4">

    <div id="container" class="card bg-light">
    
      <div class="card-body">
        <h2>{{project.title}}</h2>
        <p>{{project.description}}</p>
        <img src="{{project.image.url}}" class="img-fluid" alt="{{project.title}}">
  
        {% if project.url%}
        <a href="{{project.url}}">{{project.url}}</a>
        {% endif %}
  
      </div>

    </div>
  
  </div>
-->

